<IfModule mod_rewrite.c>
    RewriteEngine On

    Options -Multiviews
    #folder name နဲ့ file name တူနေရင်  folder ကိုခေါ်ချင်ပေမယ့် file ကပွင့်သွားတာမျိုးကိုတား

    RewriteBase /php/

    RewriteCond %{REQUEST_FILENAME} !-d 
    #dir ရဲ့ပတ်လမ်းကြောင်းကို output မထုတ်အောင်တား
    RewriteCond %{REQUEST_FILENAME} !-f  
    #filename ရဲ့ပတ်လမ်းကြောင်းကို output မထုတ်အောင်တား

    RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
</IfModule>